{% extends 'Navbar1.html'%}
{% block Navcontent %}


<!-- printing flassh message upon succesful form submission -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
    <a href="#" class="del-msg">&times;</a>
</div>
{% endfor %}
{% endif %}



<!-- setting timeout for the message -->
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000)
    })
</script>


<!-- displaying data entry for form for patients -->
<div class="container" style="margin-top: 50px;" ,>
    <h1 class="text-center">Diagnosis Information</h1>



    <table class="table table-hover" id="patient">
        <thead>
            <tr>
                <th>Diagnosis ID</th>
                <th>Name </th>
                <th>psychiatric</th>
                <th>medical</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>


        <tbody>
            {% for w in patientward %}
            <tr>
                <td>{{w.id}}</td>
                <td>{{w.patient_name}}</td>
                <td>{{w.psychiatric}}</td>
                <td>{{w.medical}}</td>
                
                <td><a href="{% url 'update_diagnosis' a.id %}" class="btn btn-primary">update</a></td>
                <td><a href="{% url 'delete_diagnosis' a.id %}"
                        onclick="return confirm('Are You sure you want to delete?')" class="btn btn-danger">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
{% endblock %}